@model List<Category>
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Kategori eklemek icin @Html.ActionLink("Tıklayınız","AddCategory")</h3>
<div class="panel-body">
    <div class="adv-table">
        <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
            <thead>
                <tr>
                    <th>Kategori İsmi</th>
                    <th>Kategori Acıklaması</th>
                    <th class="hidden-phone">Durum</th>
                    <th class="hidden-phone">Sil</th>
                    <th class="hidden-phone">Güncelle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Category item in Model)
                {
                    <tr class="gradeX">
                        <td>@Html.ActionLink(item.CategoryName,"ProductList","Product",new { id=item.ID},null)</td>
                        <td>
                            @item.Description
                        </td>
                        <td class="hidden-phone">@item.Status</td>
                        <td class="center hidden-phone">@Html.ActionLink("Sil","DeleteCategory",new { id=item.ID},new { @class="btn btn-danger"})
                        </td>
                        <td class="center hidden-phone">@Html.ActionLink("Güncelle", "UpdateCategory", new { id = item.ID }, new { @class = "btn btn-warning" })</td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>

